@model LoginViewModel
<section id=""><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Đăng nhập tài khoản của bạn</h2>
						 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="Login" asp-controller="TaiKhoan" method="post">
						<div class="form-group">
							<label>Tên người dùng</label>
							<input asp-for="UserName" class="form-control" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						
						<div class="form-group">
							<label>Mật khẩu</label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<button class="btn btn-primary">Đăng nhập</button>
						<a asp-action="Create" asp-controller="TaiKhoan">Tạo tài khoản mới</a>

					</form>
					<a asp-action="QuenMatKhau" asp-controller="TaiKhoan">Quên mật khẩu?</a>

					</div><!--/login form-->
				</div>
			
			</div>
		</div>
	</section><!--/form-->
	@section Scripts{
	@{
		
		await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
	}

}

